$icon-font-path: "/bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";

// bower:scss
@import "../bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap.scss";
// endbower

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

// We use these as default colors throughout

 $brand-primary: #990000;
 $secondary-color: #330000;
 $tertiary-color: #ff6600;
 $accent-color: #ffcd32;


.btn-primary {
    background-color: $brand-primary;
    border-color: $brand-primary;
    color: #FFFFFF;
}

/* Space out content a bit */
body {
    padding-top: 20px;
    padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
    padding-left: 15px;
    padding-right: 15px;
}

/* Custom page header */
.header {
    border-bottom: 1px solid #e5e5e5;

    /* Make the masthead heading the same height as the navigation */
    h3 {
        margin-top: 0;
        margin-bottom: 0;
        line-height: 40px;
        padding-bottom: 19px;
    }
}

/* Custom page footer */
.footer {
    padding-top: 19px;
    color: #777;
    border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
    margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
    text-align: center;
    border-bottom: 1px solid #e5e5e5;
    .btn {
        font-size: 21px;
        padding: 14px 24px;
    }
}

/* Supporting marketing content */
.marketing {
    margin: 40px 0;
    p + h4 {
        margin-top: 28px;
    }
}

/* Responsive: Portrait tablets and up */
 @media screen and (min-width: 768px) {
 .container {
        max-width: 1280px;
    } 

    /* Remove the padding we set earlier */
    .header,
    .marketing,
    .footer {
        padding-left: 0;
        padding-right: 0;
    }

    /* Space out the masthead */
    .header {
        margin-bottom: 30px;
    }

    /* Remove the bottom border on the jumbotron for visual effect */
    .jumbotron {
        border-bottom: 0;
    }
} 

@media (min-width: 1200px) { 
  .container{
    width: 1280px;
  }

}

/* Global Styles */

html,
body {
  height: 100%;
  width: 100%;
  padding-bottom: 0px;
  padding-top: 0px;
  background: #000;
}

.vert-text {
  display: table-cell;
  vertical-align: bottom;
  text-align: center;
}

.vert-text h1 {
  padding: 0;
  margin: 0;
  font-size: 4.5em;
  font-weight: 700;
}

#banner{
  background-color: $brand-primary;
}

.logo h1{margin: 10px 0;}

// Site Footer Section

.footer-nav, .copyright{
  margin-top: 15px;

  p{color: $brand-primary;}
}

#page-footer{
  background-color: #3e0d07;
}

.breadcrumb {
    background-color: #000;
    border-radius: 4px;
    list-style: none outside none;
    margin-bottom: 20px;
    padding: 8px 15px;

    li{color: $accent-color;}
}



/* Side Menu */

#sidebar-wrapper {
  margin-right: -250px;
  right: 0;
  width: 250px;
  background: $secondary-color;
  position: fixed;
  height: 100%;
  overflow-y: auto;
  z-index: 1000;
  -webkit-transition: all 0.4s ease 0s;
  -moz-transition: all 0.4s ease 0s;
  -ms-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

.sidebar-nav {
  position: absolute;
  top: 0;
  width: 250px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.sidebar-nav li {
  line-height: 40px;
  text-indent: 20px;
}

.sidebar-nav li a {
  color: #999999;
  display: block;
  text-decoration: none;
}

.sidebar-nav li a:hover {
  color: #fff;
  background: rgba(255,255,255,0.2);
  text-decoration: none;
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
  text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
  height: 55px;
  line-height: 55px;
  font-size: 18px;
}

.sidebar-nav > .sidebar-brand a {
  color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
  color: #fff;
  background: none;
}

#menu-toggle {
  top: 10px;
  right: 0;
  position: fixed;
  z-index: 1;
}

#sidebar-wrapper.active {
  right: 250px;
  width: 250px;
  -webkit-transition: all 0.4s ease 0s;
  -moz-transition: all 0.4s ease 0s;
  -ms-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

.toggle {
  margin: 5px 5px 0 0;
}

/* Full Page Image Header Area */

.header {
  display: table;
  height: 100%;
  width: 100%;
  position: relative;
  background: url(../images/bg.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#page-title{
  background-color: $accent-color;
  padding-top: 40px;
  padding-bottom: 40px;
  background-image:url('../images/border-three.png');
  background-repeat: repeat-x;



  h1{color: $brand-primary;}
}

#breadcrumbs-section{
  margin-top: 30px;
}

#members-slider .thumbnail{
    background-color: #000;
    border: none;
    border-radius: 4px;
    display: block;
    line-height: 1.42857;
    margin-bottom: 0px;
    padding: 0px;
    transition: all 0.2s ease-in-out 0s;
}

#members-slider .caption{
  background-color: $accent-color;
  position: relative;
  top: -21px;
}

@media (min-width: 992px) {

.members-content {
    position: relative;
    top: 100px;
}

.members-header, .members-excerpt{
  margin-bottom: 30px;
}

}


